/*
	General Styles
*/
body
{
	font-family: 'Raleway',Arial;
	font-size: 16px;
	color:#fff;
	font-weight: 400;
	letter-spacing: 1px;
	background: #003153;
}

/*
	Header
*/
header
{
	background: url(../images/Home-bg.jpg) center repeat-y;
	min-height:760px;
	width:100%;
	padding-top:43px;
}
/*
	Navbar
*/
.navbar
{
	background: 0;
	padding: 0;
	border: 0;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus
{
	background: 0;
	color: #ff9;
	border-bottom: 5px solid #ff0;
}
.navbar-default .navbar-nav>li>a
{
	color:#fff;
	padding:10px;
}

.navbar-default .navbar-nav>li>a:hover
{
	color:#ff0;
}

.search .btn-success 
{
	background-color:#16a085 ;
	border-color: #16a085;

}
.search .btn-success:hover
{
	background-color: #16a085;
	border-color: #fff;
}

/*
	slogan
*/
.slogan
{
	margin-top:7%;
}
.slogan	h3
{
	font-size:36px;
	font-weight: 300;
	margin-bottom: 30px;
}
.slogan h1
{
	font-size:50px;
	color:#fdec06;
	margin-bottom: 50px;
}
.slogan p
{
	font-size: 20px;
	text-align: justify;
	margin-bottom: 5%;
	font-weight: 300;
}
.slogan p span
{
	color:#ff0;
	font-weight: 600;
	text-decoration: underline;
}